html{
    font-size: 16px;
}
@media (max-width: 768px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 480px){
    html{
        font-size: 12px;
    }
}
body{
    margin: 0;
    font-family: sans-serif;
    color: #000;
    overflow-x: hidden;
}
 /* *{
    outline: 1px solid red;
}   */
/* --------------------- SECCION 1 ---------------------*/
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #7af;
    box-shadow: 0 0 20px 2px #000;
    z-index: 40;

}
.navegador{
    display: flex;
    flex-flow: row wrap;
    min-height: 70px;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
    margin: 0;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    flex: 1 1 200px;
}
.navegador__item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 170px;
    text-align: center;
    outline: none;
}
.navegador__item__sus{
    text-align: center;
    display: flex;
    flex: 0 1 200px;
    outline: none;
}
.navegador__link__sus{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 75px;
    flex: 0 1 200px;
    color: #7af;
    text-decoration: none;
    font-weight: bold;
    transition: padding 0.2s, background-color 0.2s, border 0.2s, color 0.2s;
    outline: none;
}
.navegador__link__sus:hover{
    padding: 15px 80px;
    background-color: #7af;
    border: 2px solid #fff;
    color: #fff;
}
.navegador__link{
    min-width: 100px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 70px;
    color: #fff;
    text-decoration: none;
    transition: padding 0.2s, background-color 0.2s;
    outline: none;
}
.navegador__link:hover{
    padding: 20px 75px;
    background-color: #fff4;
}
.imagen{
    max-width:200px;
    max-height: 60px;
    flex: 0 1 60px;
}
header{
    margin: 0;
    position: relative;
    background-image: url(https://e01-elmundo.uecdn.es/assets/multimedia/imagenes/2015/01/03/14202476833114.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    min-height: 640px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color: #0003;
    z-index: 20;

}
.header__title{
    width: 800px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 3.9rem;
    z-index: 30;
}
/*--------------------- SECCION 2 ---------------------*/
main{
    max-width: 100%;
    width: 100%;
    /* padding: 0 120px; */
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}
.about__contenedor__1{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 40px 0;
    width: 60%;
    margin: auto; 
}
.contenedor__1__titulo{
    color: #58f;
    font-size: 1.9rem;
    text-align: center;
}
.about__contenedor__1_1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #666;
    border: 2px solid #58f;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #36f8;
    box-sizing: border-box;
    width: 100%;   
    opacity: 0;
    animation: aparecer 1.5s ease forwards;
    animation-delay: 0.6s;
}
.contenedor__1_1__p{
    flex: 0 1 100px;
    max-width: 90%;
}
@keyframes aparecer{
    to{
        opacity: 1;
    }
}
/*--------------------- SECCION 3 ---------------------*/
.about__contenedor__2{
    width: 70%;
    margin: auto;
    padding-top: 60px;
}
.about__contenedor__2_2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #58f;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #36f8;
    box-sizing: border-box;
    width: 0;
    height: 300px;
    overflow-x: hidden;
    animation:  desplazar 1s ease forwards ;
    animation-delay: 1.5s;
}
@keyframes desplazar{
    to{
        width: 70%;
        height: auto;
    }
}
.contenedor__2__titulo{
    color: #58f;
    font-size: 1.9rem;
}
.contenedor__2_2__p{
    font-size: 1.2rem;
    color: #666;
    width: 90%;
    opacity: 0;
    animation: aparecer 1.5s ease forwards;
    animation-delay: 2s;
}
.about__contenedor__3{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: end;
    width: 70%;
    margin: auto;
    padding-top: 60px;
    text-align: start;
}
.about__contenedor__3_3{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;;
    border: 2px solid #58f;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #36f8;
    box-sizing: border-box;
    width: 0;
    height: 300px;
    overflow-x: hidden;
    animation:  desplazar 1s ease forwards ;
    animation-delay: 1.7s;
}
.contenedor__3__titulo{
    color: #58f;
    font-size: 1.9rem;
}
.contenedor__3_3__p{
    font-size: 1.2rem;
    color: #666;
    width: 90%;
    opacity: 0;
    animation: aparecer 1.5s ease forwards;
    animation-delay: 2.2s;
}
.about__contenedor__4{
    width: 70%;
    margin: auto;
    padding-top: 60px;
}
.about__contenedor__4_4{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #58f;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #36f8;
    box-sizing: border-box;
    width: 0;
    height: 300px;
    overflow-x: hidden;
    animation:  desplazar 1s ease forwards ;
    animation-delay: 1.9s;
}
.contenedor__4__titulo{
    color: #58f;
    font-size: 1.9rem;
}
.contenedor__4_4__lista{
    font-size: 1.2rem;
    color: #666;
    width: 90%;
    margin: 0;
    padding: 20px;
    opacity: 0;
    animation: aparecer 1.5s ease forwards;
    animation-delay: 2.4s;
}
.contenedor__4_4__elemento{
    width: 100%;
}
span{
    font-weight: bold;
    text-decoration: underline;
}
/*--------------------- SECCION 4 ---------------------*/
.about__contenedor__5{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
}
.contenedor__5__titulo{
    color: #58f;
    font-size: 1.9rem;
}
.contenedor__5__p{
    color: #666;
    font-size: 1.2rem;
    width: 80% ;
    text-align: center;
    margin-top:60px;
    padding: 10px;
    border: 2px solid #58f;
    box-shadow: 0 0 20px 0 #36f8;
    border-radius: 25px;
}
.im{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
}
.mi__foto{
    margin: auto;
    margin-top: 20px;
    border-radius: 45%;
    max-width: 100%;
}
/*--------------------- SECCION 5 ---------------------*/
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    min-width: 100%;
    min-height: 400px;
    background-color: #7af;
    margin-top: 20px;
}
.footer__info{
    flex: 0 1 400px;
    background-color: #f00;
}
.footer__links{
    flex: 0 1 700px;
    background-color: #8a6;
    margin-bottom: 30px;
}