html{
    font-size: 16px;
}
@media (max-width: 768px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 480px){
    html{
        font-size: 12px;
    }
}
body{
    margin: 0;
    font-family: sans-serif;
    color: #000;
    overflow-x: hidden;
}
/* *{
    outline: 1px solid red;
} */
/* --------------------- SECCION 1 ---------------------*/
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #7af;
    box-shadow: 0 0 20px 2px #000;
    z-index: 40;
}
.navegador{
    display: flex;
    flex-flow: row wrap;
    min-height: 70px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    flex: 1 1 200px;
}
.navegador__item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 170px;
    text-align: center;
    outline: none;
}
.navegador__item__sus{
    text-align: center;
    display: flex;
    flex: 0 1 200px;
    outline: none;
}
.navegador__link__sus{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 75px;
    flex: 0 1 200px;
    color: #7af;
    text-decoration: none;
    font-weight: bold;
    transition: padding 0.2s, background-color 0.2s, border 0.2s, color 0.2s;
    outline: none;
}
.navegador__link__sus:hover{
    padding: 15px 80px;
    background-color: #7af;
    border: 2px solid #fff;
    color: #fff;
}
.navegador__link{
    min-width: 100px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 70px;
    color: #fff;
    text-decoration: none;
    transition: padding 0.2s, background-color 0.2s;
    outline: none;
}
.navegador__link:hover{
    padding: 20px 75px;
    background-color: #fff4;
}
.imagen{
    margin-left: 10px;
    max-width:200px;
    max-height: 60px;
    flex: 0 1 60px;
}
header{
    margin: 0;
    position: relative;
    background-image: url(https://e01-elmundo.uecdn.es/assets/multimedia/imagenes/2015/01/03/14202476833114.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 90.1vh;
    margin-bottom: 70px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0003;
    z-index: 20;

}
.header__title{
    width: 60vw;
    text-align: center;
    color: #fff;
    font-size: 3.8rem;
    z-index: 30;
}
/* --------------------- SECCION 2 ---------------------*/
main{
    max-width: 1200px;
    width: 100%;
    /* padding: 0 160px; */
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 40px;
}
.formulario{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
    flex: 0 1 500px;
    gap: 5px;
}
.formulario__titulo{
    font-size: 1.9rem;
    color: #58f;
}
.formulario__fieldset{
    border: 2px solid #7af;
    border-radius: 8px;
    margin: 0 0 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 1 500px;
    box-shadow: 0 0 15px 0 #36f8;
}
.formulario__input{
    display: flex;
    flex-flow:row wrap;
    justify-content: start;
    flex: 0 1 500px;
    padding-bottom: 13px;
    
}
.formulario__inp{
    width: 90%;
    background-color: transparent;
    border: 2px solid #7af;
    padding: 10px 6px;
    border-radius: 8px;
    color: #000;
    margin: 2px;
}
.formulario__label{
    color: #36f;
    font-size: 0.9em;
    line-height: 2px;
    padding-right: 200px;
    padding: 10px;
    margin-top: 15px;
}
.formulario__label1{
    color: #36f;
    font-size: 0.9em;
    line-height: 2px;
    padding-right: 200px;
    padding: 10px;
    margin: 15px 6px 15px 0;
    width: 100%;
}
.formulario__textarea{
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin-top: 20px;
    resize: vertical;
    font-family: sans-serif;
    color: #000;
    border: 2px solid #7af;
    border-radius: 10px;
}
.formulario__select{
    background-color: transparent;
    color: #000;
    border: 2px solid #7af;
    border-radius: 8px;
    padding: 6px;
    align-self:center;
    margin: 20px 0 5px 0;
}

.formulario__legend{
    font-size: 1.2rem;
    font-weight: bold;
    color: #58f;
    padding: 0 6px;
}
.checkbox{
    transform: scale(1.5);
    margin-left: 9px;
    margin: 10px;
}
.enviar{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #7af;
    color: #fff;
    font-weight: bold;
}
/* --------------------- SECCION 4 ---------------------*/
.contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    text-align: center;
    flex: 0 1 350px;
    border: 2px solid #7af;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #36f8;
    margin-top: 65px;
    margin-bottom: 20px;
    max-height: 480px;
    padding: 30px;
    box-sizing: border-box;
}
.contact__titulo{
    font-size: 1.9rem;
    color: #58f;
    margin: 0;
}
.contact__p{
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}
.contact__link{
    margin: 0;
    font-size: 1.2rem;
    color: #58f;
    text-decoration: underline;
    text-align: start;
}
/* --------------------- SECCION 5 ---------------------*/
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    min-width: 100%;
    min-height: 400px;
    background-color: #7af;
    margin-top: 40px;
}
.footer__info{
    flex: 0 1 400px;
    background-color: #f00;
}
.footer__links{
    flex: 0 1 700px;
    background-color: #8a6;
    margin-bottom: 30px;
}